

nav {
  /* background-image: linear-gradient(to top, rgba(0, 0, 0, 0), black); */
  background-color: black;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  color: white;
}

.visible-false {
  height: 0;
  transition: height 0.2s;
  position: fixed;
}

.visible-false * {
  display: none;
}

.visible-true {
  position: fixed;
  height: 50px;
  transition: height 0.2s;
}

button {
  background-color: transparent;
  border: none;
  color: white;
}